/* Your CSS goes here */

/*Changed the background color of all of the form input boxes and the submit 
button to be yellow*/
#inputboxes {
    background-color: yellow;
}

#submit {
    background-color: yellow;
}

/*Changed the text in the last name field to be bold*/
#lastnamelabel {
    font-weight: bold;
}

/*Drew a border around the instruction box*/
#content {
    border-style: solid;
    border-width: 1px;
    border-color: black;

}